<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= name %></title>
  <link rel="stylesheet" href="../style.css" />
</head>
<body>

<h1><%= name %></h1>

<div class="years">
<%
var d = new Date(created_at);
var now = new Date;

var max = Math.max.apply(Math, Object.keys(activity).map(function(i){
  return Math.max.apply(Math, Object.keys(activity[i]).map(function(k){
    return activity[i][k];
  }));
}));

for(var i = d.getFullYear(); i <= now.getFullYear(); i += 1){

%>

<div class="year">

<svg width="<%= 54*15 + 30 %>" height="<%= 7*15+1 %>">
<text text-anchor="middle" transform="translate(25, 53) rotate(-90)" font-size="20"><%- i %></text>

<%

var w = 0, k = 0;
for(var j = new Date(i,0,1,0,0,0); j < new Date(i+1,0,1,0,0,0); j = new Date(+j+864e5)){

if(j.getDay() == 0 && k) w++;
k++;

var active = ((j.getMonth()+1)+'/'+j.getDate()) in activity[i];

if(active){
-%>
  <rect x="<%= w * 15 + 29.5%>" y="<%= j.getDay() * 15 +0.5 %>" width="15" height="15" fill="#eee" stroke="#bbb"/>
  <rect x="<%= w * 15 + 30%>" y="<%= j.getDay() * 15 + 1 %>" width="14" height="14" fill="green" stroke="none" opacity="<%= Math.sqrt(activity[i][(j.getMonth()+1)+'/'+j.getDate()]/max) %>" title="<%= i %>-<%= ('00'+(j.getMonth()+1)).slice(-2) %>-<%= ('00'+j.getDate()).slice(-2) %>" />
<% }else{ -%>
  <rect x="<%= w * 15 + 29.5%>" y="<%= j.getDay() * 15 +0.5 %>" width="15" height="15" fill="#c4c4c4"  stroke="#bbb"/>
<% } -%>
<% } -%>
</svg>
</div>
<% } -%>

<script>

var days = document.querySelectorAll('rect[title]');

for(var i = days.length; i--;){
  var d = days[i];
  d.addEventListener('click', function(title){
    return function(){
      window.location.href = './' + title.split('-').join('/') + '.html';
    }
  }(d.getAttribute('title')), false);
}

</script>

</body>
</html>
