<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= moment(date).format('D MMM YYYY') %> &mdash; <%- room.name %></title>
  <link rel="stylesheet" href="../../../style.css" />
</head>
<body>

<div class="head">
  <div>
    <a href="../../index.html"><%= room.name %></a>
    <div class="other-rooms">
<% rooms.forEach(function(r){
  if(r.id === room.id) return;
  if(+new Date(r.created_at) <= +date + 864e5){ -%>
      <a href="../../../<%= r.id %>/<%= year %>/<%= ('00'+month).slice(-2) %>/<%= ('00'+day).slice(-2) %>.html"><%= r.name %></a>
<% }else{ -%>
      <a class="unavailable"><%= r.name %></a>
<% }
  }); -%>
    </div>
    <span><%= moment(date).format('dddd, Do MMMM YYYY') %></span>
  </div>
</div>

<div class="nav">
<% if(prev){ %>
  <a href="../../<%= prev.y %>/<%= ('00'+prev.m).slice(-2) %>/<%= ('00'+prev.d).slice(-2) %>.html">Previous day</a>
<% } %>

<% if(next){ %>
  <a href="../../<%= next.y %>/<%= ('00'+next.m).slice(-2) %>/<%= ('00'+next.d).slice(-2) %>.html">Next day</a>
<% } %>
</div>

<div id="messages">
<% messages.forEach(function(msg){ -%>
<%- renderMsg(msg) -%>
<% }); -%>
</div>

<% if(!messages.length){ %>
<div class="no-activity">No activity for this day</div>
<% } %>

</body>
</html>
