<div class="text tweet">
<% if(typeof tweet == 'undefined' || !tweet){ %>
  <span><%- linkify(body) %></span>
<% }else{ %>
  <img src="<%= tweet.author_avatar_url %>" onerror="this.remove()" />
  <span class="content"><%= tweet.message %></span>
  <span class="author">&mdash; @<a href="https://twitter.com/<%= tweet.author_username %>" target="_blank"><%= tweet.author_username %></a></span>
<% } %>
</div>
